.title{
    font-size: 42px;
    font-weight: 700;
    left: 543px;
    top: 196px;
}

.rec_Sfondo{
    position: absolute;
    width: 558px;
    height: 560px;
    top: 170px;
    left: 441px;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
}

.Linea{
    
    width: 464px;
    height: 0px;
    left: 538px;
    top: 356px;
    border: 2px solid #535353;
}

.Paraghrap{
    left: 538px;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}

.Campo_OBG{
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #FF0000;
}

.Text-box{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A4A4A4;
    border: none;
    width: 340px;
    height: 20px;
}

.Button{
    width: 364px;
    height: 35px;
    background: #D0CFFF;
    color: #070707;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border: none;
    left: 538px;
    top: 597px;
}

.Result{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

body{
    background: linear-gradient(180deg, #D0CFFF 0%, #9ECAF3 100%);
    mix-blend-mode: normal;
}