.title{
    font-size: 42px;
    font-weight: 700;
    margin-left: 102px;
    margin-top: 36px;
    margin-bottom: 54px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    display: flex;
    color: #000000;

}

.rec_Sfondo{
    
    width: 558px;
    height: 565px;
    margin-top: 170px;
    margin-left: 30%;
    background: #FFFFFF;
}

.Linea{
    
    width: 364px;
    height: 3px;
    margin-bottom: 2px;
    margin-left: 97px;
    margin-top: 0px;
    background-color: #535353;
}

.Paraghrap{
    margin-top: 9px;
    margin-left: 97px;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}

.Campo_OBG{
    font-style: normal;
    margin-top: 0px;
    margin-left: 97px;
    font-weight: 400px;
    font-size: 11px;
    color: #FF0000;
}

.Text-box{
    margin-bottom: 2px;
    margin-left: 107px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A4A4A4;
    border: none;
    width: 340px;
    height: 20px;
}

.Button{
    width: 364px;
    height: 35px;
    background: #D0CFFF;
    color: #070707;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border: none;
    margin-left: 97px;
    margin-top: 34px;
}

.Result{
    margin-top: 15px;
    margin-left: 97px;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}

body{
    background: linear-gradient(180deg, #D0CFFF 0%, #9ECAF3 100%);
    mix-blend-mode: normal;
}